
div#breadcrumb P{
    padding-top: 10px;
    margin-left: 10px;
    font-size: 15px;
}
div.main_suport_site{
    position:relative;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 50px;
    margin-right: 50px;

    justify-content: center;

    border:none;
}
div#ambiente{
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 0px;
    background:#232323;
    border-radius: 10px;
}
