.main_home body {
    margin-top: 150px;
    background-color: #100e17;
    font-family: 'Open Sans', sans-serif;
  }
  
  @media (min-width: 1144px){
    .main_home  .container {
        margin-left: 20%;
        right: 60px;
        height: 300px;
        
        top: 60px;
        left: calc(50% - 300px);
        display: flex;
      }
      .main_home img{
        margin-right: 30px;
        width: 300px;
        height: 200px;
    
      }
      .emptybar {
        background-color: #2e3033;
        margin-top: 5px;
        width: 170%;
        height: 120%;
      }
      
      .filledbar {
        position: absolute;
        margin-top: 5px;
        top: 0px;
        z-index: 3;
        width: 0px;
        height: 100%;
        background: rgb(0,154,217);
        background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgb(183, 0, 255) 120%,  rgba(255,186,0,1) 120%);
        transition: 0.3s ease-out;
      }
      
      .card:hover .filledbar {
        width: 254px;
        transition: 0.4s ease-out;
      }
      .main_home button{
        margin-left: 50px;
        font-size: 20px;
       }

       .main_home .card {
        display: flex;
        height: 380px;
        width: 300px;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        margin-left: -150px;
        padding-left: -50px;
        position: relative;
        left: 0px;
      }
      
      .main_home .card:not(:first-child) {
          margin-left: -50px;
      }
      
      .main_home .card:hover {
        transform: translateY(-20px);
        transition: 0.4s ease-out;
      }
      
      .main_home .card:hover ~ .card {
        position: relative;
        left: 50px;
        transition: 0.4s ease-out;
      }
      
      .main_home .card:hover ~ .card {
        position: relative;
        left: 50px;
        transition: 0.4s ease-out;
      }
    
    
      .main_home .title {
        color: white;
        font-weight: 300;
        position: absolute;
        left: 20px;
        top: 15px;
      }
      .main_home .sub-title { /*manipular left imagem */
        color: white;
        font-weight: 300;
        margin-left: 20px;
        padding-top:40px;
        margin-bottom: 10px;
        top: 35px;
      }
      .main_home .bar {
        position: absolute;
        top: 100px;
        left: 20px;
        height: 5px;
        width: 150px;
      }
      
    
    
      
      .main_home .circle {
        position: absolute;
        top: 150px;
    
      }
    
      .main_home .stroke {
        stroke: white;
        stroke-dasharray: 360;
        stroke-dashoffset: 360;
        transition: 0.6s ease-out;
      }
      
      .main_home svg {
        fill: #17141d;
        stroke-width: 2px;
      }
    
      .main_home .votar{
        display: none;
        background: #ffffff;
        color:#1F8B24;
        font-weight: 900;
        font-family: Poppins;
        border-radius: 5px;
        border:none;
        }
       .main_home .report{
            display: none;
    
            background: #232323;
            color:#CB9D28;
            border:none;
        }
        .main_home .card:hover .report {
    
        display:inline-block;
    
            
        }
      .main_home .card:hover .votar {
    
        display:inline-block;
    
      }
      .main_home button:hover{
        cursor:pointer;
    
      }
      .main_home .votar:hover{
        cursor:pointer;
        background-color:#1F8B24;
        color:#ffffff;
      }
      .main_home div.card{
    
        padding-bottom: 50px;
      }
  }

  @media (max-width: 1143px){
    .main_home  .container {
        margin-left: 14%;
        height: 200px;
        top: 60px;
        margin-bottom: 160px;
        left: calc(50% - 200px);
        display: flex;
      }
      .main_home img{
        margin-left: 60px;
        width: auto;
        height: 200px;
    
      }

      .emptybar {
        background-color: #2e3033;
        margin-top: 5px;
        width: 133%;
        height: 120%;
      }
      
      .filledbar {
        position: absolute;
        margin-top: 5px;
        top: 0px;
        z-index: 3;
        width: 0px;
        height: 100%;
        background: rgb(0,154,217);
        background: linear-gradient(90deg, rgba(0,154,217,1) 0%, rgba(217,147,0,1) 65%, rgb(183, 0, 255) 120%,  rgba(255,186,0,1) 120%);
        transition: 0.3s ease-out;
      }
      
      .card:hover .filledbar {
        width: 200px;
        transition: 0.4s ease-out;
      }
      .main_home button{
        margin-left: 40px;
        font-size: 20px;
       }

       .main_home .card {
        display: flex;
        height: 380px;
        width: 300px;
        background-color: #17141d;
        border-radius: 10px;
        box-shadow: -1rem 0 3rem #000;
        margin-left: -150px;
        padding-left: -50px;
        position: relative;
        left: 0px;
      }
      
      .main_home .card:not(:first-child) {
          margin-left: -50px;
      }
      
      .main_home .card:hover {
        transform: translateY(-20px);
        transition: 0.4s ease-out;
      }
      
      .main_home .card:hover ~ .card {
        position: relative;
        left: 50px;
        transition: 0.4s ease-out;
      }
      
      .main_home .card:hover ~ .card {
        position: relative;
        left: 50px;
        transition: 0.4s ease-out;
      }
    
    
      .main_home .title {
        color: white;
        font-weight: 300;
        position: absolute;
        left: 20px;
        top: 15px;
      }
      .main_home .sub-title { /*manipular left imagem */
        color: white;
        font-weight: 300;
        margin-left: 20px;
        padding-top:40px;
        margin-bottom: 10px;
        top: 35px;
      }
      .main_home .bar {
        position: absolute;
        top: 100px;
        left: 20px;
        height: 5px;
        width: 150px;
      }
      
    
    
      
      .main_home .circle {
        position: absolute;
        top: 150px;
    
      }
    
      .main_home .stroke {
        stroke: white;
        stroke-dasharray: 360;
        stroke-dashoffset: 360;
        transition: 0.6s ease-out;
      }
      
      .main_home svg {
        fill: #17141d;
        stroke-width: 2px;
      }
    
      .main_home .votar{
        display: none;
        background: #ffffff;
        color:#1F8B24;
        font-weight: 900;
        font-family: Poppins;
        border-radius: 5px;
        border:none;
        }
       .main_home .report{
            display: none;
    
            background: #232323;
            color:#CB9D28;
            border:none;
        }
        .main_home .card:hover .report {
    
        display:inline-block;
    
            
        }
      .main_home .card:hover .votar {
    
        display:inline-block;
    
      }
      .main_home button:hover{
        cursor:pointer;
    
      }
      .main_home .votar:hover{
        cursor:pointer;
        background-color:#1F8B24;
        color:#ffffff;
      }
      .main_home div.card{
    
        padding-bottom: 50px;
      }
  }

